html {
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
li {
  -webkit-margin: 0;
  -moz-margin: 0;
  -ms-margin: 0;
  -o-margin: 0;
  margin: 0;
  -webkit-padding: 0;
  -moz-padding: 0;
  -ms-padding: 0;
  -o-padding: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

::marker {
  display: none;
}

a {
  color: var(--text-secondary);
}

[id] {
  scroll-margin-top: calc(var(--nav-height) + 1vw);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.cog-img {
  top: 6px;
  position: relative;
}

/* Main area for the page */
main {
  -webkit-padding: var(--main-padding);
  -moz-padding: var(--main-padding);
  -ms-padding: var(--main-padding);
  -o-padding: var(--main-padding);
  padding: var(--main-padding);
  top: var(--nav-height);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-colour);
  -webkit-padding: 0;
  -moz-padding: 0;
  -ms-padding: 0;
  -o-padding: 0;
  padding: 0;
  -webkit-margin: 0;
  -moz-margin: 0;
  -ms-margin: 0;
  -o-margin: 0;
  margin: 0;
}

/* Table of contents */
.table-of-contents {
  list-style: none;
  -webkit-padding: 1px;
  -moz-padding: 1px;
  -ms-padding: 1px;
  -o-padding: 1px;
  padding: 1px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  -webkit-margin: 0;
  -moz-margin: 0;
  -ms-margin: 0;
  -o-margin: 0;
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  -webkit-border: 0px;
  -moz-border: 0px;
  -ms-border: 0px;
  -o-border: 0px;
  border: 0px;
}

:root {
  /* Other */
  --transition-speed: 600ms;
  /* Carousel */
  --carousel-height: 350px;
  --carousel-indicator-height: 15px;
}

@media only screen and (max-width: 800px) {
  :root {
    --carousel-indicator-height: 10px;
  }
  main .group .options,
#modal .modal-content {
    flex-direction: column;
  }
}
html {
  position: relative;
  min-height: calc(100% - var(--nav-height));
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

:root {
  font-family: "Lato", sans-serif;
  -webkit-text-justify: inter-character;
  -moz-text-justify: inter-character;
  -ms-text-justify: inter-character;
  -o-text-justify: inter-character;
  text-justify: inter-character;
  font-size: 18px;
}

.h1 {
  display: block;
  font-size: 2em;
  -webkit-margin: 0.67em 0;
  -moz-margin: 0.67em 0;
  -ms-margin: 0.67em 0;
  -o-margin: 0.67em 0;
  margin: 0.67em 0;
  font-weight: bold;
}

.group > h2 {
  -webkit-text-align: center;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  text-align: center;
}

/* Themes */
.dark {
  --text-primary: var(--light);
  --text-secondary: var(--white);
  --bg-colour: var(--purple4);
  --carousel: rgba(209, 215, 224, 0.3);
  --carousel-selected: rgba(209, 215, 224, 0.75);
  --filter: invert(94%) sepia(6%) saturate(284%) hue-rotate(177deg)
      brightness(93%) contrast(89%);
  --filter-sec: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
      brightness(102%) contrast(102%);
}

.light {
  --text-primary: var(--dark);
  --text-secondary: var(--black);
  --bg-colour: var(--light);
  --filter: invert(13%) sepia(17%) saturate(1346%) hue-rotate(213deg)
      brightness(92%) contrast(89%);
  --filter-sec: invert(0%) sepia(1%) saturate(7477%) hue-rotate(20deg)
      brightness(98%) contrast(99%);
}

:root {
  --purple1: #8741bb;
  --purple2: #802bb1;
  --purple3: #382444;
  --purple4: #19111e;
  --white: #fff;
  --light: #d1d7e0;
  --lighter-grey: #564f6f;
  --darker-grey: #4c495d;
  --dark: #2d283e;
  --black: #000;
  --nav-primary: var(--purple3);
}

.theme-icon {
  display: none;
}

.dark #darkIcon,
.light #lightIcon {
  display: block;
}

section {
  display: block;
  background-color: var(--bg-colour);
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  -webkit-padding: var(--main-padding);
  -moz-padding: var(--main-padding);
  -ms-padding: var(--main-padding);
  -o-padding: var(--main-padding);
  padding: var(--main-padding);
  top: var(--nav-height);
  overflow: auto;
  height: 100%;
}

details,
code {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-padding: 1px 5px;
  -moz-padding: 1px 5px;
  -ms-padding: 1px 5px;
  -o-padding: 1px 5px;
  padding: 1px 5px;
}

.dark details,
.dark code {
  background-color: rgba(56, 36, 68, 0.75);
  -webkit-border: 1px solid var(--lighter-grey);
  -moz-border: 1px solid var(--lighter-grey);
  -ms-border: 1px solid var(--lighter-grey);
  -o-border: 1px solid var(--lighter-grey);
  border: 1px solid var(--lighter-grey);
}

.light details,
.light code {
  background-color: rgba(135, 65, 187, 0.5);
  -webkit-border: 1px solid var(--darker-grey);
  -moz-border: 1px solid var(--darker-grey);
  -ms-border: 1px solid var(--darker-grey);
  -o-border: 1px solid var(--darker-grey);
  border: 1px solid var(--darker-grey);
}

p {
  line-height: 110%;
}

code {
  line-height: 150%;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

summary {
  cursor: pointer;
  font-size: 1.17em;
  -webkit-margin: 0.25em 0;
  -moz-margin: 0.25em 0;
  -ms-margin: 0.25em 0;
  -o-margin: 0.25em 0;
  margin: 0.25em 0;
  font-weight: bold;
}

.group .options {
  line-height: 5ex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.3));
}
.group .options.double {
  -webkit-margin: 0 12.5ex;
  -moz-margin: 0 12.5ex;
  -ms-margin: 0 12.5ex;
  -o-margin: 0 12.5ex;
  margin: 0 12.5ex;
}

.button {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  max-width: 50ex;
  -webkit-margin: 1ex;
  -moz-margin: 1ex;
  -ms-margin: 1ex;
  -o-margin: 1ex;
  margin: 1ex;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  -webkit-text-align: center;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  text-align: center;
  background-color: var(--purple2);
  color: var(--white);
  font-weight: bold;
  -webkit-padding: 0.25ex 2ex 0.25ex 2ex;
  -moz-padding: 0.25ex 2ex 0.25ex 2ex;
  -ms-padding: 0.25ex 2ex 0.25ex 2ex;
  -o-padding: 0.25ex 2ex 0.25ex 2ex;
  padding: 0.25ex 2ex 0.25ex 2ex;
  white-space: nowrap;
  display: inline-block;
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: -webkit-transition 0.1s ease-out, background-color 0.1s ease-out;
  -moz-transform: -moz-transition 0.1s ease-out, background-color 0.1s ease-out;
  -ms-transform: -ms-transition 0.1s ease-out, background-color 0.1s ease-out;
  -o-transform: -o-transition 0.1s ease-out, background-color 0.1s ease-out;
  transform: transition 0.1s ease-out, background-color 0.1s ease-out;
  transition: -webkit-0.1s ease-out, background-color 0.1s ease-out;
  position: relative;
  text-overflow: none;
  -webkit-border-radius: 3.5px;
  -moz-border-radius: 3.5px;
  -ms-border-radius: 3.5px;
  -o-border-radius: 3.5px;
  border-radius: 3.5px;
}

.button:hover {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  background-color: var(--purple1);
  -webkit-transform: translateY(-0.2ch) translateZ(0.45ex);
  -moz-transform: translateY(-0.2ch) translateZ(0.45ex);
  -ms-transform: translateY(-0.2ch) translateZ(0.45ex);
  -o-transform: translateY(-0.2ch) translateZ(0.45ex);
  transform: translateY(-0.2ch) translateZ(0.45ex);
}

.back.button {
  position: absolute;
  top: 0.5ch;
  right: 0;
  -webkit-margin-right:  var(--padding-num);
  -moz-margin-right:  var(--padding-num);
  -ms-margin-right:  var(--padding-num);
  -o-margin-right:  var(--padding-num);
  margin-right:  var(--padding-num);
}

input[type=text] {
  display: block;
  width: 100%;
  -webkit-padding: 8px;
  -moz-padding: 8px;
  -ms-padding: 8px;
  -o-padding: 8px;
  padding: 8px;
  background-color: rgba(128, 43, 177, 0.25);
  color: var(--light);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-padding: 1px 5px;
  -moz-padding: 1px 5px;
  -ms-padding: 1px 5px;
  -o-padding: 1px 5px;
  padding: 1px 5px;
  -webkit-border: 1px solid var(--lighter-grey);
  -moz-border: 1px solid var(--lighter-grey);
  -ms-border: 1px solid var(--lighter-grey);
  -o-border: 1px solid var(--lighter-grey);
  border: 1px solid var(--lighter-grey);
}

input[type=text]:focus {
  -webkit-border-color: var(--light);
  -moz-border-color: var(--light);
  -ms-border-color: var(--light);
  -o-border-color: var(--light);
  border-color: var(--light);
  outline: none;
}

.dark .choices ul:not(.sub) > li {
  background-color: var(--purple3);
}

.light .choices ul:not(.sub) > li {
  background-color: var(--lighter-grey);
}

.choices ul.sub {
  display: inline-flex;
  -webkit-justify-content: none;
  -moz-justify-content: none;
  -ms-justify-content: none;
  -o-justify-content: none;
  justify-content: none;
}
.choices ul:not(.sub) {
  display: flex;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  -o-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-margin: 0 10%;
  -moz-margin: 0 10%;
  -ms-margin: 0 10%;
  -o-margin: 0 10%;
  margin: 0 10%;
}
.choices ul,
.choices li {
  -webkit-margin: 0;
  -moz-margin: 0;
  -ms-margin: 0;
  -o-margin: 0;
  margin: 0;
  -webkit-padding: 0;
  -moz-padding: 0;
  -ms-padding: 0;
  -o-padding: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
.choices .options {
  background-color: transparent;
  -webkit-margin: 5px;
  -moz-margin: 5px;
  -ms-margin: 5px;
  -o-margin: 5px;
  margin: 5px;
  color: var(--light);
}
.choices .options.active {
  -webkit-border-bottom: var(--purple1) 1px solid;
  -moz-border-bottom: var(--purple1) 1px solid;
  -ms-border-bottom: var(--purple1) 1px solid;
  -o-border-bottom: var(--purple1) 1px solid;
  border-bottom: var(--purple1) 1px solid;
}
.choices .choice {
  display: none;
}
.choices .choice.active {
  display: block;
  -webkit-margin-top: 10px;
  -moz-margin-top: 10px;
  -ms-margin-top: 10px;
  -o-margin-top: 10px;
  margin-top: 10px;
}
.choices.sub {
  background-color: rgba(56, 36, 68, 0.75);
  -webkit-padding: 5px;
  -moz-padding: 5px;
  -ms-padding: 5px;
  -o-padding: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.choices.sub ul {
  background-color: transparent;
}

:root {
  --area-height: 75%;
}

.skills .website, .skills .container, .front-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills, .front-main {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 5vw 0;
}

.front-main {
  margin-top: 5vw;
  background-color: rgba(56, 36, 68, 0.5);
  /* Split the screen in half */
  /* Control the left side */
  /* Control the right side */
}
.front-main .left,
.front-main .right {
  height: var(--area-height);
  /* If you want the content centered horizontally and vertically */
}
.front-main .left .centred,
.front-main .right .centred {
  text-align: left;
}
.front-main .left .centred img,
.front-main .right .centred img {
  width: 250px;
  border-radius: 50%;
}
.front-main .left {
  width: 40%;
}
.front-main .left p {
  font-size: 20px;
}
.front-main .right {
  width: auto;
}

.skills {
  top: var(--area-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.skills .container {
  top: 100px;
  height: fit-content;
  padding: 10px min(50px, 5rem);
  top: -50px;
}
.skills .container .skill {
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 1rem;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  height: fit-content;
  block-size: fit-content;
  flex: 1 0 13%;
}
.skills .website {
  height: fit-content;
  margin-top: 20px;
  font-size: 20px;
}

/* Carousel / Slideshow */
.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-aspect-ratio: 1 / 1;
  -moz-aspect-ratio: 1 / 1;
  -ms-aspect-ratio: 1 / 1;
  -o-aspect-ratio: 1 / 1;
  aspect-ratio: 1 / 1;
  -webkit-margin: 0 auto;
  -moz-margin: 0 auto;
  -ms-margin: 0 auto;
  -o-margin: 0 auto;
  margin: 0 auto;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  -webkit-aspect-ratio: 1 / 1;
  -moz-aspect-ratio: 1 / 1;
  -ms-aspect-ratio: 1 / 1;
  -o-aspect-ratio: 1 / 1;
  aspect-ratio: 1 / 1;
  object-fit: revert;
}

.carousel-track-container {
  height: var(--carousel-height);
  position: relative;
  overflow: hidden;
}

.carousel-track {
  -webkit-padding: 0;
  -moz-padding: 0;
  -ms-padding: 0;
  -o-padding: 0;
  padding: 0;
  -webkit-margin: 0;
  -moz-margin: 0;
  -ms-margin: 0;
  -o-margin: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transform: -webkit-transition 250ms ease-in;
  -moz-transform: -moz-transition 250ms ease-in;
  -ms-transform: -ms-transition 250ms ease-in;
  -o-transform: -o-transition 250ms ease-in;
  transform: transition 250ms ease-in;
  transition: -webkit-250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel .carousel-text {
  width: 100%;
  -webkit-text-align: center;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  text-align: center;
  height: 44px;
}

.carousel-button {
  position: absolute;
  top: 20%;
  background: transparent;
  -webkit-border: 0px;
  -moz-border: 0px;
  -ms-border: 0px;
  -o-border: 0px;
  border: 0px;
  cursor: pointer;
}

.carousel-button-left {
  left: -40px;
}

.carousel-button-right {
  right: -40px;
}

.carousel-button img {
  width: 20px;
  height: 20px;
  -webkit-aspect-ratio: 1 / 1;
  -moz-aspect-ratio: 1 / 1;
  -ms-aspect-ratio: 1 / 1;
  -o-aspect-ratio: 1 / 1;
  aspect-ratio: 1 / 1;
  filter: var(--filter);
}

.carousel-button img:hover {
  width: 20px;
  height: 20px;
  -webkit-aspect-ratio: 1 / 1;
  -moz-aspect-ratio: 1 / 1;
  -ms-aspect-ratio: 1 / 1;
  -o-aspect-ratio: 1 / 1;
  aspect-ratio: 1 / 1;
  filter: var(--filter-sec);
}

.carousel-nav {
  -webkit-padding: var(--carousel-padding) 0;
  -moz-padding: var(--carousel-padding) 0;
  -ms-padding: var(--carousel-padding) 0;
  -o-padding: var(--carousel-padding) 0;
  padding: var(--carousel-padding) 0;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}

.carousel-indicator {
  -webkit-border: 0px;
  -moz-border: 0px;
  -ms-border: 0px;
  -o-border: 0px;
  border: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-aspect-ratio: 1 / 1;
  -moz-aspect-ratio: 1 / 1;
  -ms-aspect-ratio: 1 / 1;
  -o-aspect-ratio: 1 / 1;
  aspect-ratio: 1 / 1;
  width: var(--carousel-indicator-height);
  background: var(--carousel);
  -webkit-margin: 0 10px;
  -moz-margin: 0 10px;
  -ms-margin: 0 10px;
  -o-margin: 0 10px;
  margin: 0 10px;
  cursor: pointer;
}

.carousel-indicator.current-slide {
  background: var(--carousel-selected);
}

.hidden {
  display: none;
}

.light {
  --bg: rgba(209, 215, 224, 0.9);
}

.dark {
  --bg: rgba(56, 36, 68, 0.9);
}

.modal #background {
  position: fixed;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-aspect-ratio: 1 / 1;
  -moz-aspect-ratio: 1 / 1;
  -ms-aspect-ratio: 1 / 1;
  -o-aspect-ratio: 1 / 1;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background-color: #000;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}
.modal #modal {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--bg);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  transition: opacity 500ms ease;
  -webkit-padding: 10px 20px;
  -moz-padding: 10px 20px;
  -ms-padding: 10px 20px;
  -o-padding: 10px 20px;
  padding: 10px 20px;
  -webkit-border-radius: 3.5px;
  -moz-border-radius: 3.5px;
  -ms-border-radius: 3.5px;
  -o-border-radius: 3.5px;
  border-radius: 3.5px;
  -webkit-border: 5px solid var(--purple2);
  -moz-border: 5px solid var(--purple2);
  -ms-border: 5px solid var(--purple2);
  -o-border: 5px solid var(--purple2);
  border: 5px solid var(--purple2);
  display: flex;
}
.modal .modal-content {
  text-align: center;
}
.modal .modal-content .options {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal.active #background {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  -ms-opacity: 0.7;
  -o-opacity: 0.7;
  opacity: 0.7;
}
.modal.active #modal {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.modal .back.button {
  -webkit-margin-right: 2ch;
  -moz-margin-right: 2ch;
  -ms-margin-right: 2ch;
  -o-margin-right: 2ch;
  margin-right: 2ch;
  top: 2ch;
}

#video {
  object-fit: initial;
  width: 946px;
  height: 532px;
}

.videoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.videoButton .button {
  flex: 0;
}

/* Small screens (mobile) */
@media only screen and (max-width: 800px) {
  .videoButton {
    display: none;
  }
}
