html {
  overflow-y: scroll;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

::marker {
  display: none;
}

a {
  color: var(--text-secondary);
}

[id] {
  scroll-margin-top: calc(var(--nav-height) + 1vw);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.cog-img {
  top: 6px;
  position: relative;
}

/* Main area for the page */
main {
  padding: var(--main-padding);
  top: var(--nav-height);
  position: absolute;
  width: 100%;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-colour);
  padding: 0;
  margin: 0;
}

/* Table of contents */
.table-of-contents {
  list-style: none;
  padding: 1px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  border: 0px;
}

:root {
  /* Other */
  --transition-speed: 600ms;
  /* Carousel */
  --carousel-height: 350px;
  --carousel-indicator-height: 15px;
}

html {
  position: relative;
  min-height: calc(100% - var(--nav-height));
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

:root {
  font-family: "Lato", sans-serif;
  text-justify: inter-character;
  font-size: 18px;
}

.h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

.group > h2 {
  text-align: center;
}

/* Themes */
.dark {
  --text-primary: var(--light);
  --text-secondary: var(--white);
  --bg-colour: var(--purple4);
  --carousel: rgba(209, 215, 224, 0.3);
  --carousel-selected: rgba(209, 215, 224, 0.75);
  --filter: invert(94%) sepia(6%) saturate(284%) hue-rotate(177deg)
      brightness(93%) contrast(89%);
  --filter-sec: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
      brightness(102%) contrast(102%);
}

.light {
  --text-primary: var(--dark);
  --text-secondary: var(--black);
  --bg-colour: var(--light);
  --filter: invert(13%) sepia(17%) saturate(1346%) hue-rotate(213deg)
      brightness(92%) contrast(89%);
  --filter-sec: invert(0%) sepia(1%) saturate(7477%) hue-rotate(20deg)
      brightness(98%) contrast(99%);
}

:root {
  --purple1: #8741bb;
  --purple2: #802bb1;
  --purple3: #382444;
  --purple4: #19111e;
  --white: #fff;
  --light: #d1d7e0;
  --lighter-grey: #564f6f;
  --darker-grey: #4c495d;
  --dark: #2d283e;
  --black: #000;
  --nav-primary: var(--purple3);
}

.theme-icon {
  display: none;
}

.dark #darkIcon,
.light #lightIcon {
  display: block;
}

section {
  display: block;
  background-color: var(--bg-colour);
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  opacity: 1;
  padding: var(--main-padding);
  top: var(--nav-height);
  overflow: hidden;
  height: 100%;
}

details,
code {
  border-radius: 10px;
  padding: 1px 5px;
}

.dark details,
code {
  background-color: rgba(56, 36, 68, 0.75);
  border: 1px solid var(--lighter-grey);
}

.light details,
code {
  background-color: rgba(135, 65, 187, 0.5);
  border: 1px solid var(--darker-grey);
}

p {
  line-height: 110%;
}

code {
  line-height: 150%;
  box-decoration-break: clone;
}

summary {
  cursor: pointer;
  font-size: 1.17em;
  margin: 0.25em 0;
  font-weight: bold;
}

.group .options {
  line-height: 5ex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.3));
}
.group .options.double {
  margin: 0 12.5ex;
}

.button {
  flex: 1;
  max-width: 50ex;
  margin: 1ex;
  text-decoration: none;
  text-align: center;
  background-color: var(--purple2);
  color: var(--white);
  font-weight: bold;
  padding: 0.25ex 2ex 0.25ex 2ex;
  white-space: nowrap;
  display: inline-block;
  transform-origin: bottom;
  transition: transform 0.1s ease-out, background-color 0.1s ease-out;
  position: relative;
  text-overflow: none;
  border-radius: 3.5px;
}

.button:hover {
  text-decoration: none;
  background-color: var(--purple1);
  transform: translateY(-0.2ch) translateZ(0.45ex);
}

.back.button {
  position: absolute;
  top: 0.5ch;
  right: 0;
  margin-right: var(--padding-num);
}

input[type=text] {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: rgba(128, 43, 177, 0.25);
  color: var(--light);
  border-radius: 5px;
  padding: 1px 5px;
  border: 1px solid var(--lighter-grey);
}

input[type=text]:focus {
  border-color: var(--light);
  outline: none;
}

.dark .choices ul:not(.sub) > li {
  background-color: var(--purple3);
}

.light .choices ul:not(.sub) > li {
  background-color: var(--lighter-grey);
}

.choices ul.sub {
  display: inline-flex;
  justify-content: none;
}
.choices ul:not(.sub) {
  display: flex;
  justify-content: space-evenly;
  margin: 0 10%;
}
.choices ul,
.choices li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
.choices .options {
  background-color: transparent;
  margin: 5px;
  color: var(--light);
}
.choices .options.active {
  border-bottom: var(--purple1) 1px solid;
}
.choices .choice {
  display: none;
}
.choices .choice.active {
  display: block;
  margin-top: 10px;
}
.choices.sub {
  background-color: rgba(56, 36, 68, 0.75);
  padding: 5px;
  border-radius: 5px;
}
.choices.sub ul {
  background-color: transparent;
}

.light {
  --bg: rgba(209, 215, 224, 0.9);
}

.dark {
  --bg: rgba(25, 17, 30, 0.9);
}

.modal #background {
  position: fixed;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  opacity: 0;
  transition: opacity 500ms ease;
}
.modal #modal {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg);
  opacity: 0;
  transition: opacity 500ms ease;
  border-radius: 3.5px;
  padding: 10px 20px;
}
.modal.active #background {
  opacity: 0.7;
}
.modal.active #modal {
  opacity: 1;
}

/* layout folder is not used */

/*# sourceMappingURL=global.css.map */
