---
import Bubbles from '../components/Bubbles.svelte';
---

<div class="front-main">
    <div class="left">
        <div class="centred">
            <h1>Hi, I'm Alli.</h1>
            <p>I'm a computer science student and aspiring website developer. o/</p>
        </div>
    </div>

    <div class="right">
        <div class="centred">
            <img src="https://avatars.githubusercontent.com/u/22519967" alt="SmolAlli" />
        </div>
    </div>
</div>

<div class="skills">
    <div class="h1">Languages and Skills</div>
    <div class="container">
        <Bubbles
            elemNames={[
                'HTML, CSS + SCSS',
                'JavaScript',
                'Svelte',
                'React',
                'Ionic',
                'Flutter',
                'C++',
                'C#',
                'Java',
                'Python',
            ]}
        />
    </div>
    <div class="website">This website was created using Astro, Svelte, and a bit of magic ✨.</div>
</div>
