---
import Layout from '../layouts/Layout.astro';
import Header from './Header.astro';
import OSPages from './OSPages.svelte';
const path = Astro.url.pathname;
const pathNoOS = path.split("/").filter((w)=> !w.includes("windows") || !w.includes("mac") || !w.includes("linux")).join("/");
---

<Layout>
    <OSPages client:load currentPage={path} />

    <Header header='Please select an Operating System' />

    <div style='display: flex; width: 100%; justify-content: space-between; margin-top: 1rem;'>
        <a href={`${pathNoOS}/windows`} class='button'>Windows</a>
        <a href={`${pathNoOS}/mac`} class='button'>Mac</a>
        <a href={`${pathNoOS}/linux`} class='button'>Linux</a>
    </div>
</Layout>
