---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="SmolAlli's Portfolio" og_title='Portfolio' og_desc='Portfolio created by SmolAlli for websites and other projects.'>
    <a href="portfolio/react1">Testing</a>
</Layout>